In [33]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [34]:
import pandas as pd
import numpy as np
import sklearn as sl

In [35]:
df = pd.read_csv('/content/gdrive/MyDrive/Dataset/CodeBasis Project/Machine Learning Tutorial/2/Students Exam Scores Extended Dataset.csv')
df.head()

,ID,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,05-Oct,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,05-Oct,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,05-Oct,76,78,75

In [36]:
print(df.shape)
df.dtypes

(30641, 15)

ID                       int64
Gender                  object
EthnicGroup             object
ParentEduc              object
LunchType               object
TestPrep                object
ParentMaritalStatus     object
PracticeSport           object
IsFirstChild            object
NrSiblings             float64
TransportMeans          object
WklyStudyHours          object
MathScore                int64
ReadingScore             int64
WritingScore             int64
dtype: object

In [37]:
df.describe()

                 ID    NrSiblings     MathScore  ReadingScore  WritingScore
count  30641.000000  29069.000000  30641.000000  30641.000000  30641.000000
mean     499.556607      2.145894     66.558402     69.377533     68.418622
std      288.747894      1.458242     15.361616     14.758952     15.443525
min        0.000000      0.000000      0.000000     10.000000      4.000000
25%      249.000000      1.000000     56.000000     59.000000     58.000000
50%      500.000000      2.000000     67.000000     70.000000     69.000000
75%      750.000000      3.000000     78.000000     80.000000     79.000000
max      999.000000      7.000000    100.000000    100.000000    100.000000

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

In [39]:
df.isnull().sum()

ID                        0
Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [40]:
new_df = df.dropna(inplace=True)

In [41]:
df

,ID,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,05-Oct,76,78,75
5,5,female,group B,associate's degree,standard,none,married,regularly,yes,1.0,school_bus,05-Oct,73,84,79
6,6,female,group B,some college,standard,completed,widowed,never,no,1.0,private,05-Oct,85,93,89
7,7,male,group B,some college,free/reduced,none,married,sometimes,yes,1.0,private,> 10,41,43,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30635,794,male,group C,some college,standard,none,married,regularly,no,2.0,school_bus,05-Oct,58,53,49
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,05-Oct,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,05-Oct,58,53,51
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,05-Oct,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,05-Oct,64,60,58

In [42]:
df.drop(['ID','LunchType','WklyStudyHours'],axis='columns',inplace=True)

In [43]:
df

,Gender,EthnicGroup,ParentEduc,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,MathScore,ReadingScore,WritingScore
2,female,group B,master's degree,none,single,sometimes,yes,4.0,school_bus,87,93,91
4,male,group C,some college,none,married,sometimes,yes,0.0,school_bus,76,78,75
5,female,group B,associate's degree,none,married,regularly,yes,1.0,school_bus,73,84,79
6,female,group B,some college,completed,widowed,never,no,1.0,private,85,93,89
7,male,group B,some college,none,married,sometimes,yes,1.0,private,41,43,39
...,...,...,...,...,...,...,...,...,...,...,...,...
30635,male,group C,some college,none,married,regularly,no,2.0,school_bus,58,53,49
30636,female,group D,high school,none,single,sometimes,no,2.0,school_bus,59,61,65
30637,male,group E,high school,none,single,regularly,no,1.0,private,58,53,51
30639,female,group D,associate's degree,completed,married,regularly,no,3.0,school_bus,82,90,93
30640,male,group B,some college,none,married,never,no,1.0,school_bus,64,60,58

In [44]:
inputs = df.drop('WritingScore',axis='columns')
target = df.WritingScore

In [45]:
from sklearn.preprocessing import LabelEncoder
le_Gender = LabelEncoder()
le_EthnicGroup = LabelEncoder()
le_ParentEduc = LabelEncoder()
le_TestPrep = LabelEncoder()
le_ParentMaritalStatus = LabelEncoder()
le_PracticeSport = LabelEncoder()
le_IsFirstChild = LabelEncoder()
le_TransportMeans = LabelEncoder()

In [46]:
inputs['Gender_n'] = le_Gender.fit_transform(inputs['Gender'])
inputs['EthnicGroup_n'] = le_EthnicGroup.fit_transform(inputs['EthnicGroup'])
inputs['ParentEduc_n'] = le_ParentEduc.fit_transform(inputs['ParentEduc'])
inputs['TestPrep_n'] = le_TestPrep.fit_transform(inputs['TestPrep'])
inputs['ParentMaritalStatus_n'] = le_ParentMaritalStatus.fit_transform(inputs['ParentMaritalStatus'])
inputs['PracticeSport_n'] = le_PracticeSport.fit_transform(inputs['PracticeSport'])
inputs['IsFirstChild_n'] = le_IsFirstChild.fit_transform(inputs['IsFirstChild'])
inputs['TransportMeans_n'] = le_TransportMeans.fit_transform(inputs['TransportMeans'])

In [47]:
inputs

,Gender,EthnicGroup,ParentEduc,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,MathScore,ReadingScore,Gender_n,EthnicGroup_n,ParentEduc_n,TestPrep_n,ParentMaritalStatus_n,PracticeSport_n,IsFirstChild_n,TransportMeans_n
2,female,group B,master's degree,none,single,sometimes,yes,4.0,school_bus,87,93,0,1,3,1,2,2,1,1
4,male,group C,some college,none,married,sometimes,yes,0.0,school_bus,76,78,1,2,4,1,1,2,1,1
5,female,group B,associate's degree,none,married,regularly,yes,1.0,school_bus,73,84,0,1,0,1,1,1,1,1
6,female,group B,some college,completed,widowed,never,no,1.0,private,85,93,0,1,4,0,3,0,0,0
7,male,group B,some college,none,married,sometimes,yes,1.0,private,41,43,1,1,4,1,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30635,male,group C,some college,none,married,regularly,no,2.0,school_bus,58,53,1,2,4,1,1,1,0,1
30636,female,group D,high school,none,single,sometimes,no,2.0,school_bus,59,61,0,3,2,1,2,2,0,1
30637,male,group E,high school,none,single,regularly,no,1.0,private,58,53,1,4,2,1,2,1,0,0
30639,female,group D,associate's degree,completed,married,regularly,no,3.0,school_bus,82,90,0,3,0,0,1,1,0,1
30640,male,group B,some college,none,married,never,no,1.0,school_bus,64,60,1,1,4,1,1,0,0,1

In [48]:
inputs.drop(['Gender', 'EthnicGroup', 'ParentEduc', 'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild', 'TransportMeans'], axis='columns', inplace=True)

In [50]:
inputs

,NrSiblings,MathScore,ReadingScore,Gender_n,EthnicGroup_n,ParentEduc_n,TestPrep_n,ParentMaritalStatus_n,PracticeSport_n,IsFirstChild_n,TransportMeans_n
2,4.0,87,93,0,1,3,1,2,2,1,1
4,0.0,76,78,1,2,4,1,1,2,1,1
5,1.0,73,84,0,1,0,1,1,1,1,1
6,1.0,85,93,0,1,4,0,3,0,0,0
7,1.0,41,43,1,1,4,1,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...
30635,2.0,58,53,1,2,4,1,1,1,0,1
30636,2.0,59,61,0,3,2,1,2,2,0,1
30637,1.0,58,53,1,4,2,1,2,1,0,0
30639,3.0,82,90,0,3,0,0,1,1,0,1
30640,1.0,64,60,1,1,4,1,1,0,0,1

In [51]:
target

2        91
4        75
5        79
6        89
7        39
         ..
30635    49
30636    65
30637    51
30639    93
30640    58
Name: WritingScore, Length: 19243, dtype: int64

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [54]:
len(X_train)

13470

In [55]:
len(X_test)

5773

In [56]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [57]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [58]:
model.score(X_test,y_test)

0.0793348345747445

In [60]:
from sklearn.metrics import mean_squared_error
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 30.535250303135285